.infobox-container {
    overflow:hidden;
    position:relative;
    font-weight:normal;
/*     overflow:auto; */
    margin-top:0px;
}

.infobox-default {
    display:inline;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    white-space:normal;
}

/* using hr as spacer between search fields */
hr { 
    display: block; height: 8px;
    border: 0; margin: 0; padding: 0;
}

#map_content {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map_canvas {
    padding: 0;
    text-shadow: none;
}

#black {
    background-color: #000;
}

/* custom icons */
.ui-icon-location {
    background-image: url(images/icons-18-white-location.png);
    background-repeat: no-repeat;
}

.place-name {
  /*background-color: #e22300; /*#cc8300;*/
  /*color: white;*/ 
}

.details-no_details {
  background-color: #bb0000;
  color: white;
}

.text-align-right {
  text-align: right;
}



.CSSTableGeneratorDetails {
  margin:0px;padding:0px;
  width:100%;
/*   border:1px solid #bf5f00; */
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.CSSTableGeneratorDetails table{
  border-collapse: collapse;
  border-spacing: 0;
  /*width:100%;*/
  height:100%;
  margin:0px;padding:0 1px 0 1px;
}.CSSTableGeneratorDetails tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.CSSTableGeneratorDetails table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.CSSTableGeneratorDetails table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.CSSTableGeneratorDetails tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}
.CSSTableGeneratorDetails tr:hover td{}
.CSSTableGeneratorDetails tr:nth-child(odd)  { background-color:#ffaa56; }
.CSSTableGeneratorDetails tr:nth-child(even) { /*background-color:#ffffff;*//*background-color:#e0e0e0;*/ }
.CSSTableGeneratorDetails td{
  vertical-align:middle;  
/*   border:1px solid #bf5f00; */
/*   border-width:0px 1px 1px 0px; */
  /*text-align:left;*/
  padding:2px 3px 2px 3px;
  font-size:14px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}.CSSTableGeneratorDetails tr:last-child td{
  border-width:0px 1px 0px 0px;
}.CSSTableGeneratorDetails tr td:last-child{
  border-width:0px 0px 1px 0px;
}.CSSTableGeneratorDetails tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.CSSTableGeneratorDetails tr:first-child td{
  background:-o-linear-gradient(bottom, #ff8300 5%, #ff8300 100%);	
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8300), color-stop(1, #ff8300) );
  background:-moz-linear-gradient( center top, #ff8300 5%, #ff8300 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8300", endColorstr="#ff8300");	
  background: -o-linear-gradient(top,#ff8300,ff8300);
  background-color:#ff8300;
/*   border:0px solid #bf5f00; */
  text-align:center;
/*   border-width:0px 0px 1px 1px; */
  font-size:14px;
  font-family:Arial;
/*   font-weight:bold; */
  color:#ffffff;
}
.CSSTableGeneratorDetails tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #ff8300 5%, #ff8300 100%);	
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8300), color-stop(1, #ff8300) );
  background:-moz-linear-gradient( center top, #ff8300 5%, #ff8300 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8300", endColorstr="#ff8300");	
  background: -o-linear-gradient(top,#ff8300,ff8300);
  background-color:#ff8300;
}
.CSSTableGeneratorDetails tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.CSSTableGeneratorDetails tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}



.CSSTableGeneratorInfoWindow {
  margin:0px;padding:0px;
  width:100%;
  border:1px solid #ffffff;
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.CSSTableGeneratorInfoWindow table{
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.CSSTableGeneratorInfoWindow tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.CSSTableGeneratorInfoWindow table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.CSSTableGeneratorInfoWindow table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.CSSTableGeneratorInfoWindow tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}
.CSSTableGeneratorInfoWindow tr:hover td{}
.CSSTableGeneratorInfoWindow tr:nth-child(odd)  { background-color:#e5e5e5; }
.CSSTableGeneratorInfoWindow tr:nth-child(even) { background-color:#ffffff; }
.CSSTableGeneratorInfoWindow td{
  vertical-align:middle;
  border:1px solid #ffffff;
  border-width:0px 1px 1px 0px;
  /*text-align:left;*/
  padding:1px;
  font-size:14px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}.CSSTableGeneratorInfoWindow tr:last-child td{
  border-width:0px 1px 0px 0px;
}.CSSTableGeneratorInfoWindow tr td:last-child{
  border-width:0px 0px 1px 0px;
}.CSSTableGeneratorInfoWindow tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.CSSTableGeneratorInfoWindow tr:first-child td{
  background:-o-linear-gradient(bottom, #333333 5%, #333333 100%);	
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #333333) );
  background:-moz-linear-gradient( center top, #333333 5%, #333333 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#333333");	
  background: -o-linear-gradient(top,#333333,333333);
  background-color:#333333;
  border:0px solid #ffffff;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Arial;
/*   font-weight:bold; */
  color:#ffffff;
}
.CSSTableGeneratorInfoWindow tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #333333 5%, #333333 100%);	
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #333333) );
  background:-moz-linear-gradient( center top, #333333 5%, #333333 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#333333");	
  background: -o-linear-gradient(top,#333333,333333);  
  background-color:#333333;
}
.CSSTableGeneratorInfoWindow tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.CSSTableGeneratorInfoWindow tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}